---
import PageLayout from "@src/layouts/PageLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("common-sense");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout title={entry.title} class="pt-6 pb-10">
  <div class="prose md:prose-lg dark:prose-invert max-w-none">
    <h1>{entry.data.title}</h1>
    <Content />
  </div>
</PageLayout>
