---
import PageLayout from "@src/layouts/PageLayout.astro";
---

<PageLayout title="اپلیکیشن مردم" class="items-center">
  <div class="flex flex-col items-center mt-[40%]">
    <img src="/favicon.png" width="90" />
    <h1 class="font-medium text-2xl sm:text-3xl mt-4">اپلیکیشن مردم</h1>
    <p class="text-lg mt-2">مخصوص انقلاب مردمی ایران</p>
  </div>

  <div class="flex items-center self-center mt-5">
    <a href="https://play.google.com/store/apps/details?id=io.mardom">
      <img alt="Get it on Google Play" src="/google-play-badge.png" width="250" />
    </a>

    <a href="https://github.com/mardomio/mardom-android/releases/latest">
      <img alt="Download APK" src="/apk-badge.svg" width="250" />
    </a>
  </div>

  <div class="prose dark:prose-invert mt-20 px-1">
    <p>
      نیرویی که مقابل ماست سه شیفت چند ده هزار نفر نیروی نظامی تربیت‌شده‌ی آماده برای قتل و سرکوب در
      اختیار دارد. ما می‌توانیم و باید از این‌ها بهتر و هماهنگ‌تر عمل کنیم. برتری ما تعداد ما، و ضعف
      ما نبود هماهنگی و آمادگی ماست.
    </p>

    <p>
      تا به امروز، بیشترین سازماندهی انجام شده پخش فراخوان از طریق شبکه‌های اجتماعی و رسانه‌های خارج
      از ایران بوده است. انجام این کار لازم است اما کافی نیست.
    </p>

    <p>اپلیکیشن مردم کمک می‌کند تا سازماندهی مردمی را یک مرحله قوی‌تر کنیم.</p>

    <h3>۱. اطلاع رسانی</h3>

    <p>
      بسیاری از فراخوان‌های خوب در فضای شلوغ مجازی گم می‌شوند و سایر فرواخوان‌ها به دلیل مسدود بودن
      فضای مجازی در ایران به حداکثر پتانسیل خود نمی‌رسند.
    </p>

    <p>
      از طرف دیگر به دلیل محدودیت طول محتوی و بازه‌ی توجه‌ کوتاه کاربران در شبکه‌های اجتماعی، اکثر
      فرواخوان‌ها ناقص بوده و هدف، نقشه اجرایی، راهکار مبارزه با نیروی سرکوب، و بسیاری مسائل دیگر در
      آن‌ها بررسی نمی‌شود یا بررسی آن‌ها زمان‌بر خواهد بود.
    </p>

    <p>
      با استفاده از اپلیکیشن مردم شما می‌توانید بدون فیلترشکن از تمام فراخوان‌ها با جزئیات کامل
      باخبر شوید.
    </p>

    <h3>۲. شمارش مشارکت کننده</h3>

    <p>
      اثربخشی و موفقیت تقریبا همه‌ی فراخوان‌های انقلابی بسته به تعداد مشارکت کننده دارد. رژیم
      استعماری با ایجاد گمراهی در فضای مجازی و استفاده از نیروی سرکوب برای ایجاد ترس، تعداد مشارکت
      کننده را پایین نگاه می‌دارد.
    </p>

    <p>
      برای حل این مشکل، تعداد مشارکت‌کننده‌ی فراخوان‌ها قبل از تاریخ اجرا در اپلیکیشن مردم شمارش
      می‌شود. این کار اطمینان به موفقیت فراخوان را افزایش می‌دهد و ترس از شرکت در فراخوان‌ها را،
      مخصوصا برای گروه ساکت، کم می‌کند.
    </p>

    <p>
      بهترین روش شمارش بسته به نوع فراخوان متفاوت خواهد بود، اما روش استفاده شده برای شمارش در
      اطلاعات تکمیلی هر فراخوان به طور کامل تشریح خواهد شد.
    </p>

    <h3>۳. اعلام آمادگی</h3>

    <p>
      اگر می‌خواهید در ایران انقلاب شود و آماده‌ی مشارکت در فعالیت‌های برنامه‌ریزی شده، کم‌ریسک، و
      هدف‌دار هستید، می‌توانید از طریق اپلیکیشن مردم اعلام آمادگی کنید. هر چه تعداد بیشتر باشد، حس
      انقلابی در جامعه بیشتر می‌شود و راحت‌تر می‌توان برای فراخوان‌ها مشارکت‌کننده جذب کرد.
    </p>

    <p>
      اعلام آمادگی مشابه ثبت‌نام ناشناس در یک ارگان سازمان‌دهی شده برای انقلاب مردمی است، فقط نیروی
      سرکوب راهی برای مقابله با آن ندارد. اعلام آمادگی شما، جذب نیروی متخصص و سرمایه‌ی لازم برای
      انقلاب را راحت‌تر می‌کند.
    </p>

    <p>
      تنها دلیل نیمه زنده موندن رژیم استعماری بعد از اتفاقات سال گذشته، نبود سازماندهی و عملکرد
      غیرمتحد است. به نظر شما، کدام از دو آینده‌ی زیر برای رژیم استعماری ترسناک‌تر و برای مردم
      امیدبخش‌تر است؟
    </p>

    <ol>
      <li>ادامه‌ی فعالیت‌های انقلابی نامتحد، نامتمرکز، بدون برنامه‌ریزی و بدون سرمایه‌گذاری</li>
      <li>
        ارتشی سازمان‌دهی شده که تعداد اعضای آن روز به روز در حال افزایش است و رژیم استعماری هیچ راه
        مقابله‌ای با آن ندارد.
      </li>
    </ol>

    <p class="text-primary">
      دقت کنید که اعلام آمادگی به صورت ناشناس انجام می‌شود و هیچ خطری برای شما ندارد.
    </p>

    <h3>سوالات متداول</h3>

    <h4>آیا نصب این اپلیکیشن امن است؟</h4>
    <p>
      اپلیکیشن مردم هیچ گونه اطلاعات هویتی از شما نمی‌پرسد. همچنین هیچ داده‌ای (مانند عکس یا هر
      اطلاعات دیگری) از تلفن هوشمند شما به هیچ جایی از هیچ طریقی ارسال نمی‌کند.
    </p>
    <p>
      اگر اپلیکیشن درخواست دسترسی به اطلاعات شخصی شما را کرد، مانند دسترسی به مکان، دسترسی به گالری،
      و غیره، بدانید که یک نسخه‌ی جعلی و جاسوسی توسط رژیم استعماری را نصب کرده‌اید و نسخه‌ی اصلی
      اپلیکیشن مردم نیست.
    </p>

    <p>
      اپلیکیشن مردم را تنها از طریق
      <a href="https://play.google.com/store/apps/details?id=io.mardom"> گوگل‌پلی</a>
       یا
      <a href="https://github.com/mardomio/mardom-android/releases/latest"> مخزن اصلی گیت‌هاب</a>
       دانلود و نصب کنید.
    </p>
    <p>
      اپلیکیشن مردم کاملا متن‌باز است و متخصصین می‌توانند با چک کردن سورس کد یا بررسی شبکه از امنیت
      اپلیکیشن اطمینان پیدا کنند. <a href="https://github.com/mardomio/mardom-android"
        >سورس کد در گیت‌هاب</a
      >.
    </p>

    <h4>چرا از سایت برای اطلاع‌رسانی فراخوان‌‌ها استفاده نمی‌شود؟</h4>
    <p>
      فراخوان‌ها در سایت نیز لیست خواهند شد اما برای استفاده از سایت به فیلترشکن نیاز خواهید داشت.
      همچنین امکان دریافت اطلاع‌رسانی فوری (push notification) از طریق سایت امکان پذیر نیست.
    </p>

    <h4>چرا از سرویس‌های موجود مثل تلگرام برای اطلاع‌رسانی استفاده نمی‌شود؟</h4>
    <p>
      امکان اطلاع‌رسانی از طریق تلگرام وجود دارد اما به فیلترشکن نیاز خواهید داشت. از طرف دیگر، بر
      خلاف تصور اکثریت، استفاده از تلگرام ممکن است امنیت شما را به خطر می‌اندازد.
    </p>
    <p>
      بعد از فیلتر تلگرام، میلیون‌ها ایرانی مجبور به استفاده از اپلیکیشن تلگرام‌طلایی شدند.
      تلگرام‌طلایی یک اپلیکیشن سوم‌شخص بود که با استفاده از پراکسی داخلی امکان استفاده از سرویس
      تلگرام را به ایرانیان می‌داد، اما جاسوسی بود و بعد از چند ماه توسط گوگل‌پلی حذف شد.
    </p>
    <p>
      نکته‌ی مهم اینجاست که رژیم استعماری با استفاده از تلگرام‌طلایی به رابطه‌ی آی‌دی و شماره موبایل
      تمام ایرانیان دست پیدا کرده است. حتی اگر خود شما هیچ وقت تلگرام طلایی را نصب نکرده باشید، تا
      زمانی که یکی از مخاطبین شما حتی یک بار از تلگرام طلایی استفاده کرده باشد، شما هم در خطر هستید.
    </p>
    <p>
      وقتی عضو کانال یا گروهی می‌شوید، یا از یک ربات تلگرام استفاده می‌کنید، آی‌دی تلگرام شما ارسال
      می‌شود که در حالت عادی مشکلی ندارد. ولی چون رژیم استعماری از تمام ایرانیان جاسوسی کرده است،
      می‌تواند شماره‌ی موبایل شما را از طریق آی‌دی تلگرام به دست آورد.
    </p>

    <p>
      البته تا زمانی که صاحب کانال، گروه، یا ربات تلگرامی با رژیم استعماری همکاری نکند، برای شما
      مشکلی وجود ندارد. پس تا زمانی که به کانال، گروه، یا ربات اعتماد دارید خطر امنیتی وجود ندارد.
      برای مثال با خیال راحت می‌توانید به رسانه‌های خارجی مثل منوتو و ایران‌اینتل ویدئو ارسال کنید.
    </p>

    <p>
      اما از آن‌جایی که اپلیکیشن مردم تازه در حال شروع کار است، چطور می‌توانید به آن اعتماد کنید؟
      شاید رژیم استعماری پشت اپلیکیشن باشد. از آن‌جایی که خود اپلیکیشن هیچ گونه اطلاعاتی از شما
      درخواست نمی‌کند و سیستم‌عامل‌های اندروید و اپل اطلاعات شخصی شما را به صاحبان اپلیکیشن ارسال
      نمی‌کنند، حتی اگر رژیم استعماری پشت اپلیکیشن مردم باشد، راهی برای به دست آوردن هویت شما ندارد.
      این نکته در مورد گروه، کانال، و ربات تلگرامی صحیح نیست و رژیم استعماری می‌تواند شماره موبایل و
      در نتیجه هویت شما را به دست آورد.
    </p>

    <h4>چرا قابلیت‌های این اپلیکیشن کم است؟</h4>
    <p>
      هر قابلیت جدید بررسی امنیتی اپلیکیشن را بزرگ‌تر و پیچیده‌تر می‌کند، به همین دلیل سعی بر این
      است که هیچ قابلیت غیر ضروری اضافه نشود. با این حال بسیاری از قابلیت‌های ضروری هنوز به اپلیکیشن
      مردم اضافه نشده است.
    </p>
    <p>تمام دلایل زیر تا حدی در تکمیل نشدن پروژه‌‌های انقلابی این چنینی موثر هستند:</p>
    <ul>
      <li>ریسک امنیتی فعالیت در این زمینه</li>
      <li>کمبود سرمایه</li>
      <li>کوچک بودن تیم</li>
      <li>عدم اطمینان</li>
      <li>ناامیدی</li>
    </ul>
    <p>
      شما می‌توانید همه‌ی این مشکلات را در ۵ دقیقه حل کنید. اپلیکیشن را نصب کرده، آمادگی خود را
      اعلام کنید، و با دوستان خود به اشتراک بگذارید.
    </p>
  </div>
</PageLayout>
