---
import BorderCard from "@src/components/BorderCard.astro";
import PageLayout from "@src/layouts/PageLayout.astro";

type AtlasItem = {
  title: string;
  description?: string | string[];
  location: string;
  websiteLink?: string;
  member?: boolean;
};

const atlasItems: AtlasItem[] = [
  {
    title: "TCF e. V. - Transnational Community Federation e. V.",
    location: "Transnational, Germany",
    websiteLink: "https://transcf.org",
    member: true,
    description: [
      "تعداد تقریبی اعضا: 200",
      "فدراسیون جامعه فراملی e.V. (TCF) یک آزمایشگاه نوآوری مدنی غیر انتفاعی و غیردولتی است. با رویکرد میان رشته ای و اعتقاد به قدرت اقلیت ها، تغییرات مثبتی را در جوامع خود در سراسر جهان ایجاد می کنیم. ما در زمینه‌های مختلف از جمله ارتقای آموزش، سیستم‌های دموکراتیک و حاشیه‌زدایی فعال هستیم.",
    ],
  },
  {
    title: "theplatform.no",
    location: "Norway",
    websiteLink: "https://theplatform.no",
    member: true,
    description: ["گروه فعال در نروژ با تمرکز بر نقض‌های حقوق بشر توسط جمهوری اسلامی"],
  },
  {
    title: "WAIS - We are Iranian Students",
    description:
      "ما دانشجویان ایرانی هستیم (WAIS) طبق قانون فرانسه در سال 1901 یک انجمن غیرانتفاعی است. این انجمن به هیچ حزب سیاسی تعلق ندارد، غیر مذهبی و فراگیر است.",
    location: "Europe",
    websiteLink: "https://weareiranianstudents.com/",
  },
  {
    title: "ICOIA - International Community of Iranian Academics",
    location: "Europe, New Zeland, Australia, North America",
    websiteLink: "https://icoia.org/",
    description: "تعداد تقریبی اعضا: 200",
  },
  {
    title: "آیفا - انجمن بین‌المللی پزشکان و کادر درمان ایران",
    location: "US",
    websiteLink: "https://iipha.org/fa/%d8%ae%d8%a7%d9%86%d9%87/",
  },
  {
    title: "Iranian Scholars for Liberty",
    location: "Europe, New Zeland, Australia, North America",
    websiteLink: "https://www.iranianscholarsforliberty.com/home",
  },
  {
    title: "شورای اتحاد ایرانیان",
    location: "North America",
    websiteLink: "https://twitter.com/IRUnityCouncil",
  },
  {
    title: "WeAreMahsaAmini",
    location: "Global",
    websiteLink: "https://wearemahsaamini.com/",
  },
  {
    title: "AUSIRAN - Australian United Solidarity for Iran",
    location: "Australia",
    websiteLink: "https://www.ausiran.org/",
  },
  {
    title: "بنیاد مردم",
    location: "Australia",
    websiteLink: "https://mardomfoundation.org/",
    description:
      "هدف ما رسیدن به حکومت مردم بر مردم است؛ چکیده‌ی آنچه «دموکراسی» صدایش می‌کنند. بر این باوریم که باید از شعارها و تفاهمات کلی بگذریم و به عنوان یک جامعه در تعامل با یکدیگر دورنمایمان را از آینده شفاف‌تر کنیم؛ چرا که عاقبتِ بی‌هدفی سرگردانی است. یک دورنمای شفاف و قابل تفاهم امکان هم‌راستا شدن نیروهای مختلف را فراهم می‌کند.",
  },
];
---

<PageLayout title="اطلس گروه‌های مردمی">
  <div class="flex flex-col max-w-screen-sm mx-auto gap-3">
    <h1 class="ms-2 lg:ms-0 text-2xl">اطلس گروه‌های مردمی</h1>
    <label class="w-full flex gap-2">
      جست‌و‌جو:
      <input
        class="bg-transparent w-full"
        placeholder="متن جست‌و‌جو را اینجا وارد کنید."
        id="search-input"
      />
    </label>
    {
      atlasItems.map((item) => {
        let desc: string[] = [];
        if (item.description) {
          if (!Array.isArray(item.description)) {
            desc = [item.description];
          } else {
            desc = item.description;
          }
        }
        return (
          <BorderCard class="w-full">
            <h2 class="text-lg font-semibold w-fit" style="unicode-bidi: plaintext;">
              {item.title}
            </h2>
            {desc.map((x) => (
              <p class="mt-2">{x}</p>
            ))}
            {item.member && (
              <a
                href="/coordination-council"
                class="text-flag-green block mt-3"
                title="حداقل یک نفر از این گروه در شورای هماهنگی عضو شده است."
              >
                ✔ عضو شورای هماهنگی
              </a>
            )}
            <div class="block mt-3">
              <p class="float-left">{item.location}</p>
              {item.websiteLink && (
                <a target="_blank" href={item.websiteLink}>
                  لینک وبسایت
                </a>
              )}
            </div>
          </BorderCard>
        );
      })
    }
  </div>
</PageLayout>

<script>
  const searchInput = document.querySelector('id="search-input"');
  // We might need to use a frontend framework to implement this.
</script>
