---
import Scrolldown from "@src/components/Scrolldown.astro";
import Video from "@src/components/Video.astro";
import PageLayout from "@src/layouts/PageLayout.astro";
---

<PageLayout title="ูุฑุงุฎูุงู" class="p-0">
  <div class="slider">
    <div class="slide slide-full">
      <div class="px-5 pt-5 text-center">
        <div>ุชุง ุญุงูุง ูฺฉุฑ ฺฉุฑุฏ ุงฺฏุฑ ูุชุญุฏ ุจุดู ฺ ูุดูุ</div>
        <div>ุจุง ู ูพูู ุฏุฑุณุช ุญุณุงุจ ุงูุจุชู.</div>
      </div>
      <Video src="/video/nemo-plan.mp4" />
      <div class="relative pb-2 sm:pb-0">
        <div class="px-5 pb-4 text-center opacity-80">ุจุดุชุฑ ุฏุฑ ูพุงู</div>
        <Scrolldown />
      </div>
    </div>

    <div class="slide">
      <div class="mt-auto sm:mt-0"></div>
      <div>
        ุจุฑู
        <a href="/app">ุงูพูฺฉุดู ูุฑุฏู</a>
         ุฑู ูุตุจ ฺฉู ู ุฑู ุฏฺฉููโ
        <span class="text-flag-green">ยซุขูุงุฏูโ ูุดุงุฑฺฉุช ูุณุชูยป</span>
         ุจุฒู.
      </div>
      <div>ุจุดุชุฑ ุจุฎูู ุชุง ุจุจู ฺุฌูุฑ ุงู ฺฉุงุฑ ุจู ุงุชุญุงุฏ ฺฉูฺฉ ูโฺฉูู.</div>
      <div class="flex items-center self-center mt-auto sm:mt-20">
        <a href="https://play.google.com/store/apps/details?id=io.mardom">
          <img alt="Get it on Google Play" src="/google-play-badge.png" width="250" />
        </a>
        <a href="https://github.com/mardomio/mardom-android/releases/latest">
          <img alt="Download APK" src="/apk-badge.svg" width="250" />
        </a>
      </div>
      <div class="text-sm opacity-60">
        ุงฺฏุฑ ููุท ุขููู ุฏุงุฑุ ุงุฏุงูู ุฑู ูฺฏุงู ฺฉู ุชุง ุจุง ุงุณุชุฑุงุชฺ ุขุดูุง ุจุดุ ุงฺฏุฑ ุฎูุงุณุช ุจู ุฏูุณุชุงุช ฺฉู
        ุงูุฏุฑูุฏ ุฏุงุฑู ูุนุฑู ฺฉู. ูุฑ ฺ ุจุดุชุฑ ูุณุฎูโ ุงูุฏุฑูุฏ ุงุณุชูุงุฏู ุจุดูุ ุฒูุฏุชุฑ ุจุฑุง ุขููู ูู ุชูุณุนู
        ูโุฏู.
      </div>
    </div>

    <div class="slide slide-full">
      <Video src="/video/app-action-ready.webm" />
    </div>

    <div class="slide">
      <div>
        ูฺฉ ฺฉู ู ฺฉูุฏู ุดูุงุฑูุฏู ูุฌูุฏ ุฏุงุฑู ฺฉู ุฑูุด ููุดุชู ยซุงูููุงุจยป ู ูุฑ ุจุงุฑ ฺฉู ู ููุฑ ูุดุงุฑุด ุจุฏู ุฏุงุฎูุ ู
        ุฏููู ุจู ุนุฏุฏ ุดูุงุฑูุฏูโ ุงุถุงูู ุจุดู.
      </div>
      <div>ุฎูุฏุช ุฏูุณุช ุฏุงุฑ ุจุนุฏ ุงุฒ ฺฉ ูุงู ุงู ฺฉูุฏู ุดูุงุฑูุฏู ฺู ุนุฏุฏ ุฑู ูุดูู ุจุฏูุ</div>
      <div class="flex flex-col gap-4 justify-center items-center mt-4">
        <button class="btn-option" id="btn-more-better">ุตุฏ ูููู ุง ูุฑ ฺ ุจุดุชุฑ ุจูุชุฑ</button>
        <button class="btn-option" id="btn-less-better">ุตูุฑ ุง ูุฑ ฺ ฺฉูุชุฑ ุจูุชุฑ</button>
        <div id="counter-response" class="mt-4 font-medium h-0 text-center"></div>
      </div>
    </div>

    <div class="slide slide-full">
      <div class="flex flex-col max-h-[600px] text-center justify-between gap-4">
        <div class="p-6">ฺฉุฑูโ ุดูุงู ูุฏุฑุช ูุธุงู ุฎูุฏุด ุฑู ุจู ุฑุฎ ฺฉุดูุฑูุง ุฎุงุฑุฌ ฺฉุดุฏ.</div>
        <Video src="/video/military-parade.mp4" />
        <div class="p-6">ูู ุงุฒ ุงูู ูููโุชุฑุ ูุดูู ุฏุงุฏู ูุฏุฑุช ุฎูุฏุดูู ุจู ุฎูุฏุดูู ุจูุฏ.</div>
      </div>
    </div>

    <div class="slide">
      <div>
        ุฑฺูโ ฺฉุฑู ุดูุงู ุจุงุนุซ ููโุดู ุงููุง ฺฉุฑูโ ุฌููุจ ุฑู ูุชุญ ฺฉูู. ูู ุญุณ ุฎูุฏุดูู ุฑู ูุณุจุช ุจู ุฎูุฏุดูู
        ุจูุจูุฏ ูโุฏู.
      </div>
      <div>
        ู ุงุนูุงู ุขูุงุฏฺฏ ูู ุจุงุนุซ ููโุดู ุงูููุงุจ ุจุดูุ ูู ูุง ุงูููุงุจโูุง ุฏู ุขุชุดู ุจุงุฏ ุฏุณุช ุจู ฺฉุงุฑ ุจุดู
        ุชุง ุงูฺฏุฒู ู ุงูุฏ ุจู ุงูููุงุจ ุฑู ูู ุจุฑุง ุฎูุฏููู ู ูู ุจุฑุง ฺฏุฑูู ุณุงฺฉุช ุจุงูุง ุจุจุฑู.
      </div>
    </div>

    <div class="slide slide-full">
      <Video src="/video/park-segregation.mp4" cover />
    </div>

    <div class="slide slide-full">
      <div class="flex flex-col max-h-[600px] text-center justify-between gap-4">
        <div class="p-6">
          <div>ุงุฎุชูุงู ุจู ุงู ุฏู ูุฏุฆู ุฎู ุฒุงุฏ ูุณุช.</div>
          <div>ูู ุงูุงู ุฌู ุฌุงูุนู ุณฺฉูุชูุ ฺูู ฺฉุณ ููโุฏููู ฺ ฺฉุงุฑ ฺฉูู.</div>
        </div>
        <Video src="/video/students-tearing-down.mp4" />
        <div class="p-6">
          ููุท ฺฉุงูู ูุง ุงูููุงุจโูุง ุฏู ุขุชุดู ู ฺฉุงุฑ ุฑู ุจู ุทูุฑ ูุชุญุฏ ุดุฑูุน ฺฉููุ ุฌู ุณุฑุน ุชุบุฑ ุฎูุงูุฏ
          ฺฉุฑุฏ ู ุจูู ูู ููุฑุงู ูโุดู.
        </div>
      </div>
    </div>

    <div class="slide">
      <div>ูุฑุงุฑู ุฏูุฑูู ุฌูุน ุจุดูุ</div>
      <div>ุจุฑูุงููโุฑุฒ ฺฉูู ู ู ฺฉุงุฑ ุฎูู ุฏุฑ ู ุฒูุงู ูุดุฎุต ุงูุฌุงู ุจุฏู.</div>
      <div>ุจุฑุง ุงููู ุจุงุฑุ ู ุงูุฏุงู ูุชุญุฏ ฺฉู ุชูุณุท ุฎูุฏ ูุฑุฏู ุณุงุฒูุงูุฏู ุดุฏู ุจุงุดู.</div>
    </div>

    <div class="slide slide-full">
      <Video src="/video/water-atm.mp4" cover />
    </div>

    <div class="slide">
      <div>ุดูุง ุขูุงุฏฺฏ ุฎูุฏุชูู ุฑู ุจุฑุง ูุดุงุฑฺฉุช ุงุนูุงู ูโฺฉูุฏ.</div>
      <div>
        ูุง ุงูุฑุงุฏ ูุชุฎุตุต ู ุชุงุซุฑฺฏุฐุงุฑ ุฑู ุจู
        <a href="/coordination-council">ุดูุฑุง ููุงููฺฏ</a>
         ุฏุนูุช ูโฺฉูู ู ุจุฑูุงูู ูโฺูู.
      </div>
      <div>
        ููุช ูุฑ ุฏู ุดุฑุท ยซุชุนุฏุงุฏ ุจุงูุงยป ู ยซุจุฑูุงููโ ุฎูุจยป ุจุฑูุฑุงุฑ ุดุฏุ ุงูพูฺฉุดู ุจู ุดูุง ุงุทูุงุนโุฑุณุงู ูโฺฉูู.
      </div>
    </div>

    <div class="slide slide-full">
      <div class="flex flex-col max-h-[850px] text-center justify-between gap-4">
        <div class="p-6">ฺูุฏ ูุงู ุฏฺฏู ุงูุชุฎุงุจุงุช ูุฌูุณ ูุณุชุ ููุท ุฑุฃ ูุฏุงุฏูุ ุนู ุณฺฉูุช ู ุจโุชูุงูุช.</div>
        <Video src="/video/majlis.mp4" />
        <div class="p-6">ุจุงุฏ ฺฉุงุฑ ุจุดุชุฑ ุงุฒ ููุท ุฑุฃ ูุฏุงุฏู ุงูุฌุงู ุจุฏู.</div>
      </div>
    </div>

    <div class="slide">
      <div>ุชู 10 ุณุงู ุขูุฏูุ ุฏูุณุช ุฏุงุฑ ุฒูุฏฺฏุช ฺฉุฏูู ุจุงุดูุ</div>
      <div class="flex flex-col gap-4 items-start mt-4">
        <button class="btn-option" id="btn-live-iran-bad">ุฒูุฏฺฏ ู ุณุงุฒุด ุจุง ุฌูููุฑ ุงุณูุงู</button>
        <button class="btn-option" id="btn-live-iran-good">ุฒูุฏฺฏ ุชู ุงุฑุงู ุจุง ุขุฒุงุฏ</button>
        <button class="btn-option" id="btn-live-abroad">ุฒูุฏฺฏ ุชู ุฎุงุฑุฌ</button>
        <div id="five-year-wish-response" class="mt-4 font-medium h-0"></div>
      </div>
    </div>

    <div class="slide slide-full">
      <div class="flex flex-col max-h-[850px] text-center justify-between gap-4">
        <div class="p-6">ุงู ฺฉุณ ุจูุฏ ฺฉู ุฑุฏ ุตูุงุญุช ูุดุฏ. ๐</div>
        <Video src="/video/president.mp4" />
        <div class="p-6">ุงูฺฏุงุฑ ูุฑ ฺฉุณ ฺฉู ุตูุงุญุช ุฏุงุฑูุ ุฑุฏ ูโุดู. ๐คฃ</div>
      </div>
    </div>

    <div class="slide">
      <div>ุชูุจู ูฺฉูุ ุจูููู ูุงุฑุ ุฏุณุช ุจู ฺฉุงุฑ ุดู. ููุท ุฏู ุฏููู ุทูู ูโฺฉุดู.</div>
      <div>
        <a href="/app">ุงูพูฺฉุดู ูุฑุฏู</a>
         ุฑู ูุตุจ ฺฉู ู ุฑู ุฏฺฉููโ
        <span class="text-flag-green">ยซุขูุงุฏูโ ูุดุงุฑฺฉุช ูุณุชูยป</span>
         ุจุฒู.
      </div>
      <div class="mt-auto sm:mt-20"></div>
      <div class="counter text-5xl text-center font-mono"></div>
      <div class="text-center opacity-60 text-sm -mt-3">ุชุตูุฑ ฺฉูุ ุจุฏูู ุงูโููู ููุฑุงู ุฏุงุฑ</div>
      <div class="flex items-center self-center mt-auto sm:mt-20">
        <a href="https://play.google.com/store/apps/details?id=io.mardom">
          <img alt="Get it on Google Play" src="/google-play-badge.png" width="250" />
        </a>
        <a href="https://github.com/mardomio/mardom-android/releases/latest">
          <img alt="Download APK" src="/apk-badge.svg" width="250" />
        </a>
      </div>
      <div class="text-sm opacity-60">
        ุงฺฏุฑ ููุท ุขููู ุฏุงุฑุ ุจู ุฏูุณุชุงุช ฺฉู ุงูุฏุฑูุฏ ุฏุงุฑู ูุนุฑู ฺฉู. ูุฑ ฺ ุจุดุชุฑ ูุณุฎูโ ุงูุฏุฑูุฏ ุงุณุชูุงุฏู
        ุจุดูุ ุฒูุฏุชุฑ ุจุฑุง ุขููู ูู ุชูุณุนู ูโุฏู.
      </div>
    </div>
  </div>
</PageLayout>

<script>
  import confetti from "canvas-confetti";

  // App height is like 100vh but mobile minus address
  const appHeight = () =>
    document.documentElement.style.setProperty("--app-height", `${window.innerHeight}px`);
  window.addEventListener("resize", appHeight);
  appHeight();
  document.querySelector<HTMLDivElement>(".slider")!.scrollTop = 0;

  // Start counter animation when in view
  let confettiSetup = false;
  let shouldConfetti = false;
  const obs = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      shouldConfetti = entry.isIntersecting;
      if (entry.isIntersecting && !confettiSetup) {
        confettiSetup = true;
        entry.target.classList.add("counter-anim");
        entry.target.addEventListener("animationend", () => {
          if (!shouldConfetti) return;
          const end = Date.now() + 15 * 1000;
          (function frame() {
            confetti({
              particleCount: 2,
              angle: 60,
              spread: 55,
              origin: { x: 0 },
              colors: ["#da0000", "#ccc"],
            });
            confetti({
              particleCount: 2,
              angle: 120,
              spread: 55,
              origin: { x: 1 },
              colors: ["#239f40", "#ccc"],
            });
            if (Date.now() < end) {
              requestAnimationFrame(frame);
            }
          })();
        });
      }
    });
  });
  document.querySelectorAll(".counter").forEach((el) => {
    obs.observe(el);
  });

  // How many do you like to click the button?
  const btnMoreBetter = document.getElementById("btn-more-better") as HTMLButtonElement;
  const btnLessBetter = document.getElementById("btn-less-better") as HTMLButtonElement;
  const divCounterResponse = document.getElementById("counter-response") as HTMLDivElement;
  btnMoreBetter.addEventListener("click", () => {
    btnMoreBetter.classList.add("!border-flag-green");
    btnLessBetter.classList.remove("!border-flag-red");
    divCounterResponse.classList.add("text-flag-green");
    divCounterResponse.classList.remove("text-flag-red");
    divCounterResponse.innerText = "ูพุณ ุฎูุฏุช ูู ุฏุณุช ุจู ฺฉุงุฑ ุดู";
  });
  btnLessBetter.addEventListener("click", () => {
    btnMoreBetter.classList.remove("!border-flag-green");
    btnLessBetter.classList.add("!border-flag-red");
    divCounterResponse.classList.remove("text-flag-green");
    divCounterResponse.classList.add("text-flag-red");
    divCounterResponse.innerText = "ูฺ ููุช ุตูุฑ ููโุดูุ ฺูู ุญุฏุงูู ูุง ุฎูุฏููู ูุดุงุฑุด ูโุฏู.";
  });

  // 5 year wish button?
  const btnLiveIranBad = document.getElementById("btn-live-iran-bad") as HTMLButtonElement;
  const btnLiveIranGood = document.getElementById("btn-live-iran-good") as HTMLButtonElement;
  const btnLiveAbroad = document.getElementById("btn-live-abroad") as HTMLButtonElement;
  const divLiveResponse = document.getElementById("five-year-wish-response") as HTMLDivElement;
  let liveResponses: string[] = [];
  let liveResponseNumber = 0;
  let liveResponseInterval = 0;
  function nextLiveResponse(reset: boolean = false) {
    if (reset) {
      liveResponseNumber = 0;
      clearInterval(liveResponseInterval);
      liveResponseInterval = setInterval(() => nextLiveResponse(false), 7000);
    }
    if (liveResponses.length === 0) {
      divLiveResponse.innerText = "";
      return;
    }
    divLiveResponse.innerText = liveResponses[liveResponseNumber % liveResponses.length];
    liveResponseNumber++;
  }
  liveResponseInterval = setInterval(() => nextLiveResponse(), 7000);
  btnLiveIranBad.addEventListener("click", () => {
    btnLiveIranBad.classList.add("!border-flag-red");
    btnLiveIranGood.classList.remove("!border-flag-green");
    btnLiveAbroad.classList.remove("!border-flag-green");
    liveResponses = [
      "ุฏูุงุฑ 500 ูุฒุงุฑ ุชูููุ ูพุฑุงุฏ 2 ููุงุฑุฏุ",
      "ููุช ุขุจ ุญุช ุงุฒ ุงู ูู ฺฉูุชุฑ ุจุดูุ ุฌูููุฑ ุฏฺฉุชุงุชูุฑ ุตุฏ ุฏุฑ ุตุฏ ุจู ูฺฉุฑุช ุฎูุงูุฏ ุจูุฏ. ๐",
      "ูููโ ุงุฑุงูโูุง ฺฉุงุฑุจูุฏ ุฑูุชู ุฎุงุฑุฌ ู ุจุงุฏ ุจุง ุทุงูุจุงู ุงุฒ ูู ุดุฑูุน ฺฉู.",
      "ุจู ูุธุฑุช ุฏฺฉุชุฑ ุฎูุจ ุฏฺฏู ูพุฏุง ูโุดูุ",
      "ุงุญุชูุงูุง ุงูุชุฑูุช ุฏฺฏู ูุงูุนุง ุจุฑุง ููุดู ูุทุน ุจุดู. ุณูุงู ฺฉุฑูโ ุดูุงู. ๐",
      "ุงฺฏู ุชู ุงุชุง ู ุญุฑู ุจุฏ ุจู ุฎุงูููโุง ุจุฒูุ ุงูุชุงุฒ ุงุฌุชูุงุนุช ูุงุฏ ูพุงู ู ุฏฺฏู ููโุชูู ูุชุฑู ุณูุงุฑ ุจุด.",
    ];
    nextLiveResponse(true);
  });
  btnLiveIranGood.addEventListener("click", () => {
    btnLiveIranBad.classList.remove("!border-flag-red");
    btnLiveIranGood.classList.add("!border-flag-green");
    btnLiveAbroad.classList.remove("!border-flag-green");
    liveResponses = [
      "ูพุณ ุจุงุฏ ุฏุณุช ุจู ฺฉุงุฑ ุจุด ู ุขูุงุฏฺฏ ูุดุงุฑฺฉุช ุฎูุฏุช ุฑู ุจุฑุง ุงูููุงุจ ุงุนูุงู ฺฉู.",
      "ูฺฉ ฺฉูุ ุงูุชุฑูุช ุขุฒุงุฏ. ๐คฉ",
      "ู ุนุงููู ุชูุฑุณุช ูุงุฏุ ุฏุฑุขูุฏ ุฏูุงุฑ!",
      "ุจุฑูุงููโูุงุช ุฑู ุจฺู ุจุฑุง ุณูุฑูุง ุฎุงุฑุฌ. โ๏ธ",
    ];
    nextLiveResponse(true);
  });
  btnLiveAbroad.addEventListener("click", () => {
    btnLiveIranBad.classList.remove("!border-flag-red");
    btnLiveIranGood.classList.remove("!border-flag-green");
    btnLiveAbroad.classList.add("!border-flag-green");
    liveResponses = [
      "ุงูุชุฎุงุจ ุจุฏ ูุณุช.",
      "ูู ูุฑ ุฌุง ุฏูุง ุจุงุดุ ุชู ุฑู ุงุฑุงู ุญุณุงุจ ูโฺฉูู ู ูพุงุณูพูุฑุช ุฌูููุฑ ุงุณูุงู ุฏุงุฑ.",
      "ูู ุจุง ููุท ููุชูโุง ฺูุฏ ุฏููู ููุช ูโุชูู ุงูู ุชุบุฑ ุจุฏ.",
      "ู ุงุตูุง ุขุณุจ ุจู ุฎุงุฑุฌ ุฑูุชู ูุงุฑุฏ ููโฺฉููุ ุจูฺฉู ุจูุชุฑุด ูโฺฉูู.",
      "ุชุตูุฑ ฺฉู ุงุฑุงู ุงูููุงุจ ุจุดู.",
      "ููู ุงููุฌุง ูโุฎูุงู ุจุงู ุจุงูุงุช ุญุฑู ุจุฒูู.",
      "ุฑุงุญุชโุชุฑ ุฏูุณุช (ูพุณุฑ/ุฏุฎุชุฑ) ูพุฏุง ูโฺฉู.",
      "ุฑุงุญุชโุชุฑ ฺฉุงุฑ ูพุฏุง ูโฺฉู.",
      "ู ุฎู ฺุฒุง ุฏฺฏู.",
    ];
    nextLiveResponse(true);
  });
</script>

<style>
  .slider {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(var(--app-height) - var(--header-height));
  }

  .slide {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    @apply flex flex-col justify-center gap-5 p-6 overflow-hidden text-[18px] sm:text-[22px];
  }

  .slide-full {
    @apply p-0 sm:p-6;
  }

  /* Make body scrollable on desktop */
  @media (min-width: 700px) {
    .slider {
      height: auto;
      overflow: hidden;
      scroll-snap-type: none;
      display: contents;
    }

    html {
      scroll-snap-type: y proximity;
      scroll-padding-top: var(--header-height);
    }

    .slide {
      height: calc(var(--app-height) - var(--header-height));
    }
  }

  /* Counter */
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  .counter {
    --num: 100000000;
    counter-reset: num var(--num);
  }

  .counter::after {
    --num: 100000000;
    content: counter(num);
  }

  .counter-anim {
    animation: counter 40s forwards linear;
  }

  @keyframes counter {
    0% {
      --num: 0;
    }
    1% {
      --num: 1;
    }
    2% {
      --num: 2;
    }
    4% {
      --num: 5;
    }
    7% {
      --num: 10;
      animation-timing-function: cubic-bezier(0.5, 0.2, 1, 1);
    }
    15% {
      --num: 50;
      animation-timing-function: cubic-bezier(0.5, 0.2, 1, 1);
    }
    30% {
      --num: 1000;
      animation-timing-function: cubic-bezier(1, 0.2, 1, 1);
    }
    60% {
      --num: 1000000;
      animation-timing-function: cubic-bezier(1, 0.2, 1, 1);
    }
    100% {
      --num: 100000000;
    }
  }

  .btn-option {
    @apply px-4 py-1 rounded-md border-4 border-neutral-200 hover:border-neutral-400 dark:border-neutral-700 dark:hover:border-neutral-500;
  }
</style>
