---
import PageLayout from "@src/layouts/PageLayout.astro";
---

<PageLayout title="شورای هماهنگی" class="">
  <h1 class="text-3xl mt-4 mb-3">شورای هماهنگی</h1>
  <p class="mt-4">
    ما در حال تشکیل شورایی از متخصصین، افراد تاثیرگذار، سرمایه‌گذاران، و دیگر فعالان هستیم تا بتونیم
    در یکجا باهم هماهنگ بشیم و یکپارچه عمل کنیم.
  </p>
  <p class="mt-4">
    زیرساخت‌های اولیه برای راه‌اندازی شورا آماده شده، مثل امکان عضویت از داخل ایران، مقاومت در برابر
    نفوذی‌های جمهوری اسلامی، و چند مسئله دیگر. در حال حاضر بیشتر تمرکز بر شناسایی و دعوت از کسانی
    هست که بتونیم به طور سازنده با آن‌ها همکاری کنیم.
  </p>
  <p class="mt-4">
    عضویت فقط از طریق دعوت‌نامه امکان پذیر است، اما دسترسی عمومی به تمام مکاتبات شورا برای شفاف‌سازی
    به زودی فعال خواهد شد، یه مقدار فقط هزینه داره که دنبال راه‌حل هستیم.
  </p>
  <p class="mt-4">
    هر چی تعداد کسانی که از طریق
    <a href="/app">اپلیکیشن</a>
     آمادگی خودشون رو برای مشارکت اعلام کردند بیشتر باشه، ما هم سریع‌تر می‌تونیم متخصص و سرمایه‌گذار
    جذب کنیم. در واقع اگر تعداد کمی از مردم اعلام آمادگی کنند، خب متخصصین و سرمایه‌گذاران هم
    انگیزه‌ی همکاری نخواهند داشت.
  </p>
</PageLayout>
