---
import PageLayout from "@src/layouts/PageLayout.astro";
import FlipDown from "@src/lib/flipdown/FlipDown.astro";
---

<PageLayout
  title="روزشمار سالگرد مهسا امینی"
  class="justify-between py-10 sm:justify-center gap-16 md:gap-24"
>
  <div class="flex flex-col items-center gap-6">
    <h1 class="font-medium text-xl sm:text-3xl">مانده تا سالگرد مهسا امینی</h1>
    <FlipDown date="2023/09/16" />
  </div>
  <div>
    <p>
      مهسا امینی در ۲۵ شهریور ۱۴۰۱ پس از بازداشت توسط پلیس تهران به دلیل نداشتن حجاب کامل در
      بیمارستانی در تهران تحت شرایطی مشکوک درگذشت.
      <a href="https://fa.wikipedia.org/wiki/کشته‌شدن_مهسا_امینی" target="_blank"
        >در ویکی‌پدیا بیشتر بخوانید.</a
      >
    </p>
    <p class="mt-3">
      جدا از مقصر بودن یا نبودن پلیس تهران، بسیاری از ایرانیان خواستار حذف قانون حجاب هستند، اما
      حکومت جمهوری‌اسلامی اجازه‌ی هیچ‌گونه رأی‌گیری در این زمینه را نمی‌دهد. به همین دلیل، این حکومت
      مردمی نیست، لیاقت نام جمهوری را ندارد، لیاقت نام اسلامی را هم ندارد، و حکومتی طاقوت، استبدادی،
      و منشاء گرفته از شیطان است.
    </p>
    <p class="mt-3">
      از آن جایی که مردم ایران حق دخالت در تصمیم‌گیری و قانون‌گذاری کشور را ندارند، جمع‌آوری هرگونه
      مالیات و استفاده از منابع کشور توسط این نظام دزدی و خلاف طبیعتِ انسانِ نیک و قانون الهی است.
    </p>
  </div>
  <div class="text-center">
    <a href="/app">
      اپلیکیشن «انقلاب مردمی ایران» رو دانلود کن و با بقیه در ساخت یک ایران عالی هماهنگ شو.
      <br />
      برای دانلود همینجا کلیک کن.
    </a>
  </div>
</PageLayout>
