---
import PageLayout from "@src/layouts/PageLayout.astro";
---

<PageLayout title="حریم خصوصی">
  <div>
    <h1 class="font-medium text-lg">حریم خصوصی</h1>
    <p>
      ما داده شخصی جمع‌آوری نمی‌کنیم. مقداری داده‌ی غیر شخصی توسط <a
        href="https://www.cloudflare.com/web-analytics/"
        target="_blank">کلودفلر</a
      > برای آمار بازدید سایت جمع‌آوری می‌شود.
    </p>
  </div>
  <div style="direction:ltr;" class="mt-4">
    <h1 class="font-medium text-lg">Privacy Policy</h1>
    <p>
      We do not collect personal data. Some statistical non-personal data is collected for the
      purpose of analytics by <a href="https://www.cloudflare.com/web-analytics/" target="_blank"
        >Cloudflare</a
      >.
    </p>
  </div>
</PageLayout>
