---
import BorderCard from "@src/components/BorderCard.astro";
import PageLayout from "@src/layouts/PageLayout.astro";
---

<PageLayout title="در دست ساخت">
  <BorderCard class="my-10 mx-auto w-full max-w-lg text-lg">
    <div>این قسمت از وب‌سایت در دست ساخت است.</div>
    <a href="/" class="block mt-4">بازگشت به صفحه‌ی اصلی سایت &larr;</a>
  </BorderCard>
</PageLayout>
