---
const { class: className } = Astro.props;
---

<div
  class:list={[
    className,
    "py-3 px-4 rounded-md border-solid border border-primary bg-white dark:bg-neutral-900 dark:text-neutral-200",
  ]}
>
  <slot />
</div>
