---
export interface Props {
  title: string;
  body?: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="day link-card">
  <a href={href}>
    <div class="title">
      {title}
    </div>
    {body && <p>{body}</p>}
    <slot />
  </a>
</li>

<style>
  .link-card {
    --bg-color: #fff;
    --fg-color1: #111;
    --fg-color2: #444;
    --accent: rgb(var(--color-primary));
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--color-flag-red)) 15%,
      rgb(var(--color-flag-gold)) 30%,
      rgb(var(--color-flag-green)),
      white 70%
    );

    list-style: none;
    display: flex;
    padding: 0.25rem;
    background-color: var(--bg-color);
    background-image: none;
    background-size: 200%;
    border-radius: 0.6rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    @apply border border-solid border-primary/50;

    /* Disable touch highlight */
    /* https://stackoverflow.com/a/29961714/3998718 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  :global(.dark) .link-card {
    --bg-color: #000;
    --fg-color1: #fff;
    --fg-color2: #ccc;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--color-flag-red)) 15%,
      rgb(var(--color-flag-gold)) 30%,
      rgb(var(--color-flag-green)),
      black 70%
    );
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    border-radius: 0.35rem;
    color: var(--fg-color1);
    background-color: var(--bg-color);
    opacity: 0.95;
    @apply py-3 px-4 sm:py-4 sm:px-5;
  }

  .title {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    @apply text-xl font-medium;
  }

  p {
    margin-bottom: 0;
    color: var(--fg-color2);
    @apply pt-2 opacity-90 sm:opacity-70;
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .link-card:is(:hover, :focus-within) .title {
    color: var(--accent);
  }

  .link-card:is(:hover, :focus-within) p {
    opacity: 1;
  }
</style>
